.navbar-toggler {
filter: invert(1);
}

.navbar-nav{
margin-right: 16px;
}

nav {
    background-image: var(--nav-bg);
    background-position: var(--nav-position);
    background-size: var(--nav-size);
    box-shadow: 0px 0px 30px rgba(48, 46, 46, 0.788);
    transition: 0.5s;
}

.nav-link:hover {
  color: #8d6fd1 !important;
}

.nav-link .text-light:hover {
  color: #8d6fd1 !important;
}