html[data-theme = "light"] {
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
  
    --background-50: #efe8fd;
    --background-100: #dfd1fa;
    --background-200: #bea2f6;
    --background-300: #9e74f1;
    --background-400: #7d45ed;
    --background-500: #5d17e8;
    --background-600: #4a12ba;
    --background-700: #380e8b;
    --background-800: #25095d;
    --background-900: #13052e;
    --background-950: #090217;
  
    --primary-50: #efecf9;
    --primary-100: #e0d8f3;
    --primary-200: #c1b1e7;
    --primary-300: #a18bda;
    --primary-400: #8264ce;
    --primary-500: #633dc2;
    --primary-600: #4f319b;
    --primary-700: #3b2574;
    --primary-800: #28184e;
    --primary-900: #140c27;
    --primary-950: #0a0613;
  
    --secondary-50: #f1f2f4;
    --secondary-100: #e3e6e8;
    --secondary-200: #c6ccd2;
    --secondary-300: #aab3bb;
    --secondary-400: #8e99a4;
    --secondary-500: #717f8e;
    --secondary-600: #5b6671;
    --secondary-700: #444c55;
    --secondary-800: #2d3339;
    --secondary-900: #17191c;
    --secondary-950: #0b0d0e;
  
    --accent-50: #f0f0f5;
    --accent-100: #e1e1ea;
    --accent-200: #c3c2d6;
    --accent-300: #a5a4c1;
    --accent-400: #8886ac;
    --accent-500: #6a6798;
    --accent-600: #555379;
    --accent-700: #3f3e5b;
    --accent-800: #2a293d;
    --accent-900: #15151e;
    --accent-950: #0b0a0f;

    --filter-invert: invert(1);
    --hero-bg: url(../../asset/homepage/bglight.jpg);
    --hero-position: 0 75%;
    --games-bg: url(../../asset/games/bg-light.jpg);
    --nav-bg: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd5829ed-efc1-4ca8-813f-8e31e4df26af/defxufj-345e4f31-418d-4352-9257-43410866893c.png/v1/fill/w_1154,h_692,q_70,strp/nixera_by_pride_flags_defxufj-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAwMCIsInBhdGgiOiJcL2ZcL2ZkNTgyOWVkLWVmYzEtNGNhOC04MTNmLThlMzFlNGRmMjZhZlwvZGVmeHVmai0zNDVlNGYzMS00MThkLTQzNTItOTI1Ny00MzQxMDg2Njg5M2MucG5nIiwid2lkdGgiOiI8PTUwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.soz41I0_y6zb-jdlSSkR7WkdCnZXLcX6MQe2F-Kf7-Q');
    --nav-position: bottom;
    --nav-size: 10%;
  }

html[data-theme="dark"] {
  --text-50: #0d0d0d;
  --text-100: #1a1a1a;
  --text-200: #333333;
  --text-300: #4d4d4d;
  --text-400: #666666;
  --text-500: #808080;
  --text-600: #999999;
  --text-700: #b3b3b3;
  --text-800: #cccccc;
  --text-900: #e6e6e6;
  --text-950: #f2f2f2;

  --background-50: #090217;
  --background-100: #13052e;
  --background-200: #25095d;
  --background-300: #380e8b;
  --background-400: #4a12ba;
  --background-500: #5d17e8;
  --background-600: #7d45ed;
  --background-700: #9e74f1;
  --background-800: #bea2f6;
  --background-900: #dfd1fa;
  --background-950: #efe8fd;

  --primary-50: #0a0613;
  --primary-100: #140c27;
  --primary-200: #28184e;
  --primary-300: #3b2574;
  --primary-400: #4f319b;
  --primary-500: #633dc2;
  --primary-600: #8264ce;
  --primary-700: #a18bda;
  --primary-800: #c1b1e7;
  --primary-900: #e0d8f3;
  --primary-950: #efecf9;

  --secondary-50: #0b0d0e;
  --secondary-100: #17191c;
  --secondary-200: #2d3339;
  --secondary-300: #444c55;
  --secondary-400: #5b6671;
  --secondary-500: #717f8e;
  --secondary-600: #8e99a4;
  --secondary-700: #aab3bb;
  --secondary-800: #c6ccd2;
  --secondary-900: #e3e6e8;
  --secondary-950: #f1f2f4;

  --accent-50: #0b0a0f;
  --accent-100: #15151e;
  --accent-200: #2a293d;
  --accent-300: #3f3e5b;
  --accent-400: #555379;
  --accent-500: #6a6798;
  --accent-600: #8886ac;
  --accent-700: #a5a4c1;
  --accent-800: #c3c2d6;
  --accent-900: #e1e1ea;
  --accent-950: #f0f0f5;

  --filter-invert: invert(0);
  --hero-bg: url(../../asset/homepage/bg.jpg);
  --hero-position: center;
  --games-bg: url(../../asset/games/bg.jpg);
  --nav-bg: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtUvJX8v8FVgqXRyNdESdwJev7fYvuF1G_1q1g5jxNUm6FvbEADb6WLwm8M-6uLufPHRY&usqp=CAU');
  --nav-position: 80%;
  --nav-size: none;
}


/* START Index.html CODE */
.text-light{
  --bs-text-opacity: 1;
  color: var(--primary-950) !important;
  transition: 0.5s;
}

#icon-ctrl{
  filter: var(--filter-invert);
  transition: 0.5s;
}

#btn-ctrl{
  filter: var(--filter-invert);
  transition: 0.5s;
}

/* END Index.html CODE */



/* START Games.html CODE */

.card{
  background-color: var(--background-100);
  /* box-shadow: var(--filter-invert); */
}

#btn-play{
  filter: var(--filter-invert);
}

/* END Games.html CODE */