/* Basic Styles for Game */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #b74545; */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

html {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
html::-webkit-scrollbar { 
    display: none; 
}

#bang {
    background-color: var(--background-300);
    display: flex; 
    height: 100vh;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    justify-content: center;
}

/* Game Container Styles */
.game-container {
    text-align: center;
    background-color: rgb(81, 117, 165);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    justify-content: center;
}

/* Canvas Styles */
canvas {
    /* background-color: #2f0303;
    display: block;
    margin: 20px auto;
    border: 2px solid #333; */
    background-color:#30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}

/* Start Button Styles
button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #852d35;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

button:hover {
    background-color: #7f3f40;
}

.small-card {
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    justify-items: center;
    left: 50%;
    transform: translateX(-50%); 
  }

.card {
    background-color: var(--background-100);
}
